.currentRes,
.waitList {
    margin: 35px 0;
}

.currentHeading {
    background-color: #E9ECEF;
    border: 1px solid #CED4DA;
}
.currentBody {
    border: 1px solid #CED4DA;
    
}
.table {
    border: 1px solid #CED4DA;
    margin: 40px 20px 20px 20px;
    padding: 0 20px;
}

.tableList {
    list-style-type: none;
}

hr {
    border-top: 1px solid #CED4DA;
}
.waitHeading {
    background-color: #E9ECEF;
    border: 1px solid #CED4DA;
}

.waitBody {
    border: 1px solid #CED4DA;
}

.waitTable {
    border: 1px solid #CED4DA;
}

body{
    margin:0 200px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding: 40px;
    border-radius: 8px;
    
}

.headerTitle{
    border-bottom: 1px solid rgb(189, 187, 187);
    padding-bottom: 20px;
}
.vBtn{
    background-color: rgb(34, 34, 255);
    border:rgb(34, 34, 255);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}
.vBtn:hover{
    background-color: rgb(82, 82, 248);
}
.rBtn{
    background-color: rgb(253, 15, 15);
    border: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}
.rBtn:hover{
    background-color: rgb(250, 84, 84);  
}

a{
    text-decoration: none;
    color: rgb(34, 34, 255);
}
a:hover{
    text-decoration: underline; 
}